.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
  
  @media (max-width: 431px) {
    width: 350px;
  }

  @media (max-width: 396px) {
    width: 320px;
    margin-right: 12px;

  }
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}
